/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400'); */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400'); */



img, embed, object, video{
    max-width: 100%;
    user-select: none;      /*-to prevent overflow from its container-*/
}

body, html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            height:100%;
            width:100%;
            margin: 0;
            padding: 0;
            max-width: 100%;
            overflow-x: hidden;

}
body{
    margin: 0;
}

/* disable highlight on click  */
html
{
  -webkit-tap-highlight-color: transparent;
}


.App{
    width: 90%;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.cover-image img{
    height: 100%;
    width: 100%;
}
h1, h2, h3, h4, p, a{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: .01rem;

}

h1,h2,h3{
    font-size: 1rem;
}

h4{
    font-size: .85rem;
}

p{
    font-size: 1rem;
    letter-spacing: 0;
}

a{
    display: block;
    color: black;
    text-decoration: none;
    position: relative;
}
a:hover{
    font-weight: 400;
}
.link {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .02rem;
}

main{
    width: 100%;
}

.menu{
    display: none;
}

.name{
    z-index: 99;
}
.current {
    /* text-decoration: underline; */
    font-weight: 400;
}
.contact p a{
    display: inline-block;
}
.content{
    width: 100%;
    height: 100%;
    align-items: stretch;
}
.images-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.images{
    height: 72%;
}
.project-images{
    height: 555px;
    width: 555px;
    min-height: 555px;
    min-width: 555px;
}
.title{
    position: fixed;
    bottom: 2rem;
    left: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.title p{
    user-select: none;
}
.project-text{
    margin-top: 1rem;
    margin-bottom: 4rem;
    line-height: 1.5;
}
.book-info span{
    display: block;
    text-decoration: underline;
}
.impressum-text, .info-text{
    text-align: left;
    line-height: 1.5;

}

.impressum-text p:first-child{
    margin-bottom: 1rem;
}
.impressum-text p:not(:first-child){
    margin-bottom: 1rem;
}
.info-text p{
    margin-bottom: 1rem;
}
.info-text a{
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
.info-text h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 4rem;
    margin-top: 0;
}

.arrows{
    font-size: 1.5rem;
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.arrows div{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 2rem;
    height: 2rem;
}
.press a{
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
}

/* --- HOME --- */
.home-images{
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}


/*---------------Hamburger menu---------------------*/


.mobile-nav{
    margin-top: 0rem;
    width: 90%;
    margin: 0 auto;
    position: fixed;
    height: 50px;
    right: 0;
    left: 0;
    display: inline-block;
}


.menu-btn {
	font-size: 18px;
	font-weight: 100;
	z-index: 9999;
    right: 0;
    top: 0;
    position: absolute;
    margin-top: 0.9rem;
}

.menu-content{
    width: 90%;
    margin: 0 auto;
    margin-top: 9rem;
    position: relative;
    height: 100vh;
}

.responsive-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 1rem;
}

/* ---from desktop--- */

main{
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 70vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    }
    main::-webkit-scrollbar {
        display: none;
    }
    .project-list{
        text-align: left;
        line-height: 2;
        margin-bottom: 5rem;
        margin-top: 2.8rem;
    }
    .info-container {
        margin-top: 3rem;
    }
    .impressum-container{
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
    .shows h3{
        margin-top: 4rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: .02rem;
    }
    .shows span{
        font-weight: 300;
        margin-right: .5rem;
        text-decoration: underline;
    }
    .show{
        margin-bottom: 1rem;
    }
    .show p{
        margin: 0;
    }
    .press{
        margin-bottom: 4rem;
    }
    .press h3{
        margin-top: 4rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: .02rem;
    }
    .press a{
        font-weight: 300;
    }
    .press a:hover{
        font-weight: 400;
    }
    .gatsby-resp-image-image {
        cursor: default;

    }
    ::-webkit-scrollbar {
        width: 0px;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
    header{
        display: flex;
        justify-content: space-between;
        top: 2rem;
        margin: 0 auto;
        z-index: 1;
        }


/*-------------------------MEDIA QUERIES-------------------------------------*/


@media only screen and (min-width: 1000px){
    .mobile-nav{
    display: none;
    }
   
    .menu{
    display: flex;
    width: 25rem;
    justify-content: space-between;
    }

    .home-images{
        height: 100%;
        cursor: pointer;
    }
    .images{
        height: 100%;
    }

    .content{
        width: 50%;
        height: 100%;
        align-items: stretch;
        /* border: 1px solid red; */
    }
    .images-container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        /* border: 1px solid yellow; */
    }
    .info-container{
        margin-top: .5rem;
    }
    .arrows{
        font-size: 1.5rem;
        position: fixed;
        bottom: 2rem;
        right: 4.4rem;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
    .title{
        position: fixed;
        bottom: 1.5rem;
        left: 4.4rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .project-list{
        margin-top: 0;
    }
    .impressum-container{
        margin-top: -.5rem;
    }

}
